@import url(vary.less);
#main-content{
	.title{
		background-color: #fff;
		box-shadow: 0 2px 5px  #ddd;
		font-size: 0;
		text-align: center;
		img{
			width: 100%;
		}
		>div{
			padding: 0 .1rem;
			p{
				font-size: .3rem;
				color: #000;
				text-align: left;
				span{
					color: @bg-color;
				}
			}
			.user{
				display: flex;
				flex-wrap:wrap;
				justify-content:space-around;
				align-content:space-around;
				img{
					.img;
				}
				a{
					font-size:.5rem;
					width: .8rem;
					.img;
					text-align: center;
				}
			}
			button{
				.button
			}	
		}
	}
	.details{
		color: #000;
		padding: .5rem .4rem;
		h3{
			font-size: .35rem;
			margin: 0;
		}
		p{
			font-size: .25rem;
			line-height: 2;
		}
	}
}