.img {
  height: .7rem;
  width: .7rem;
  margin: 0 .1rem .2rem  0;
}
#main-content .title {
  background-color: #fff;
  box-shadow: 0 2px 5px  #ddd;
  font-size: 0;
  text-align: center;
}
#main-content .title img {
  width: 100%;
}
#main-content .title > div {
  padding: 0 .1rem;
}
#main-content .title > div p {
  font-size: .3rem;
  color: #000;
  text-align: left;
}
#main-content .title > div p span {
  color: #00d0cb;
}
#main-content .title > div .user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
#main-content .title > div .user img {
  height: .7rem;
  width: .7rem;
  margin: 0 .1rem .2rem  0;
}
#main-content .title > div .user a {
  font-size: .5rem;
  width: .8rem;
  height: .7rem;
  width: .7rem;
  margin: 0 .1rem .2rem  0;
  text-align: center;
}
#main-content .title > div button {
  width: 4rem;
  font-size: .4rem;
  padding: .2rem;
  background-color: #00d0cb;
  border-radius: .8rem;
  color: #fff;
  border: none;
  margin: .3rem 0 .5rem;
}
#main-content .details {
  color: #000;
  padding: .5rem .4rem;
}
#main-content .details h3 {
  font-size: .35rem;
  margin: 0;
}
#main-content .details p {
  font-size: .25rem;
  line-height: 2;
}
