@import url(vary.less);
#main-content{
	td,th{
		height: .8rem;
		span{
			display: inline-block;
			width: 100%;
			height: 100%;
			line-height: 260%;
		}
	}
	.calendar{
		display: none;
		color: #000;
		font-size: .3rem;
		text-align: center;
		padding: 0 .1rem;
		table{
			width: 100%;
		}
		a{
			font-size: .3rem;
			margin: 0 .25rem;
		}
		.widget-disabled{
			color: #cdcdcd;
		}
		.widget-active{
			span{
				background: @bg-color;
			    color: #fff;
			    border-radius: 50%;
			}
		}
		.widget-back{
			float: right;
		}
		.widget-today{
			font-weight: 800;
		}
	}
	.wrap{
		border-bottom: 1px solid #ddd;
	}
	.date{
		margin: .4rem auto .2rem;
		width: 85%;
		height: .6rem;
		line-height: .6rem;
		border-radius:.6rem; 
		border: 2px solid #ddd;
		font-size: 0;
		text-align: center;
		color: #ddd;
		cursor: pointer;
		span{
			font-size: .3rem;
			color: #000;
			vertical-align: middle;
		}
		b{
			font-size: .3rem;
			color: #ddd;
			vertical-align: middle;
		}
	}
	.advance{
		padding: .3rem .2rem;
		background-color: #fff;
		figure{
			margin: 0 0 .35rem 0;
			font-size: 0;
			background:url(../images/jdxq_7.png) no-repeat -4px 7px;
			background-size: 36%;
			img{
				width: 2rem;
				height: 1.6rem;
				border-radius: 4px;
				background-size: 110%;
			}
			div{
				display: inline-block;
				margin-left: .1rem;
				width: 65%;
				vertical-align: top;
				figcaption{
					color: #000;
					font-size: .3rem;
					vertical-align: top;
				}
				p{
					margin: .1rem 0 0;
					color: #adadad;
					font-size: .2rem;
					line-height: 1.3;
				}
				span{
					display: inline-block;
					font-size: .3rem;
					height: .5rem;
					line-height: .5rem;
					color: #ff78b7;
					padding-left: .32rem;
					background: url(../images/bm_10.png) no-repeat left;
					background-size: .3rem;
				}
				button{
					float: right;
					padding: 1px;
					width: 2rem;
					height: .5rem;
					font-size: .3rem;
				}
			}
		}
	}
}