.img {
  height: .7rem;
  width: .7rem;
  margin: 0 .1rem .2rem  0;
}
#main-content td,
#main-content th {
  height: .8rem;
}
#main-content td span,
#main-content th span {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 260%;
}
#main-content .calendar {
  display: none;
  color: #000;
  font-size: .3rem;
  text-align: center;
  padding: 0 .1rem;
}
#main-content .calendar table {
  width: 100%;
}
#main-content .calendar a {
  font-size: .3rem;
  margin: 0 .25rem;
}
#main-content .calendar .widget-disabled {
  color: #cdcdcd;
}
#main-content .calendar .widget-active span {
  background: #00d0cb;
  color: #fff;
  border-radius: 50%;
}
#main-content .calendar .widget-back {
  float: right;
}
#main-content .calendar .widget-today {
  font-weight: 800;
}
#main-content .wrap {
  border-bottom: 1px solid #ddd;
}
#main-content .date {
  margin: .4rem auto .2rem;
  width: 85%;
  height: .6rem;
  line-height: .6rem;
  border-radius: .6rem;
  border: 2px solid #ddd;
  font-size: 0;
  text-align: center;
  color: #ddd;
  cursor: pointer;
}
#main-content .date span {
  font-size: .3rem;
  color: #000;
  vertical-align: middle;
}
#main-content .date b {
  font-size: .3rem;
  color: #ddd;
  vertical-align: middle;
}
#main-content .advance {
  padding: .3rem .2rem;
  background-color: #fff;
}
#main-content .advance figure {
  margin: 0 0 .35rem 0;
  font-size: 0;
  background: url(../images/jdxq_7.png) no-repeat -4px 7px;
  background-size: 36%;
}
#main-content .advance figure img {
  width: 2rem;
  height: 1.6rem;
  border-radius: 4px;
  background-size: 110%;
}
#main-content .advance figure div {
  display: inline-block;
  margin-left: .1rem;
  width: 65%;
  vertical-align: top;
}
#main-content .advance figure div figcaption {
  color: #000;
  font-size: .3rem;
  vertical-align: top;
}
#main-content .advance figure div p {
  margin: .1rem 0 0;
  color: #adadad;
  font-size: .2rem;
  line-height: 1.3;
}
#main-content .advance figure div span {
  display: inline-block;
  font-size: .3rem;
  height: .5rem;
  line-height: .5rem;
  color: #ff78b7;
  padding-left: .32rem;
  background: url(../images/bm_10.png) no-repeat left;
  background-size: .3rem;
}
#main-content .advance figure div button {
  float: right;
  padding: 1px;
  width: 2rem;
  height: .5rem;
  font-size: .3rem;
}
