header {
  margin-bottom: 5px;
}
#main-content {
  width: 6.4rem;
  margin-bottom: .84rem;
}
#main-content img {
  box-sizing: border-box;
  width: 100%;
}
#main-content .action img {
  padding: 5px 5px 0;
}
#main-content figure {
  position: relative;
  margin: 5px;
  background-color: #fff;
  color: #000;
}
#main-content figure .wrap {
  padding: 0 6px;
}
#main-content figure .wrap figcaption {
  font-size: .3rem;
  font-weight: 600;
  margin: .1rem 0;
}
#main-content figure .wrap figcaption .join {
  width: 48%;
  display: inline-block;
  text-align: right;
  color: #ddd;
  font-size: .2rem;
}
#main-content figure .wrap figcaption .join strong {
  color: #00d0cb;
}
#main-content figure .wrap .end-time {
  position: absolute;
  left: -2px;
  top: .3rem;
  padding: 8px 6px;
  font-size: .2rem;
  background-color: #00d0cb;
  color: #fff;
}
#main-content figure .wrap .time,
#main-content figure .wrap .area {
  padding: .08rem 0;
  font-size: .27rem;
}
#main-content figure .wrap .time img,
#main-content figure .wrap .area img {
  height: .56rem;
  width: .44rem;
  margin-right: .15rem;
  vertical-align: middle;
}
#main-content figure .wrap .time span,
#main-content figure .wrap .area span {
  vertical-align: middle;
}
#main-content figure .wrap .time span b,
#main-content figure .wrap .area span b {
  display: inline-block;
  width: .06rem;
  height: .06rem;
  margin: 0 1px;
  border-radius: 50%;
  background-color: #ddd;
  vertical-align: middle;
}
#main-content figure .wrap .time img {
  height: .44rem;
  width: .44rem;
}
