.img {
  height: .7rem;
  width: .7rem;
  margin: 0 .1rem .2rem  0;
}
body {
  font-size: 0;
}
img {
  width: 100%;
}
#main-content figure {
  position: relative;
  margin: 0;
  padding-bottom: .1rem;
  background-color: #fff;
  color: #000;
}
#main-content figure .wrap {
  padding: 0 6px;
}
#main-content figure .wrap figcaption {
  font-size: .3rem;
  font-weight: 600;
  margin: .2rem 0 0;
}
#main-content figure .wrap figcaption .sold-number {
  float: right;
  width: 45%;
  line-height: 1.5;
  display: inline-block;
  text-align: right;
  color: #adadad;
  font-size: .25rem;
}
#main-content figure .wrap figcaption .sold-number img {
  width: .35rem;
  height: .35rem;
  margin-right: .1rem;
  vertical-align: top;
}
#main-content figure .wrap .price {
  padding: .08rem 0;
  font-size: .27rem;
  color: #adadad;
}
#main-content figure .wrap .price span {
  vertical-align: middle;
}
#main-content figure .wrap .price .sales-price {
  color: red;
}
#main-content figure .wrap .price .primary-price {
  text-decoration: line-through;
}
#main-content .item-info {
  margin: .2rem 0;
  background-color: #fff;
  text-align: center;
  font-size: .26rem;
  color: #000;
}
#main-content .item-info span {
  display: inline-block;
  box-sizing: border-box;
  padding: .3rem .2rem;
  width: 2rem;
  font-size: .24rem;
  text-align: right;
  background: #fff no-repeat;
  background-size: .45rem;
}
#main-content .item-info span:first-child {
  background-image: url(../images/sale_num.png);
  background-position: .1rem center;
}
#main-content .item-info span:nth-child(2) {
  background-image: url(../images/point.png);
  background-position: .25rem center;
}
#main-content .item-info span:last-child {
  background-image: url(../images/ensure.png);
  background-position: .25rem center;
}
