.img {
  height: .7rem;
  width: .7rem;
  margin: 0 .1rem .2rem  0;
}
#main-content nav {
  font-size: 0;
  background-color: #fff;
}
#main-content nav span {
  display: inline-block;
  width: 40%;
  box-sizing: border-box;
  padding: 0 .3rem;
  margin: 0 .5rem 0 .1rem;
  color: #adadad;
  font-size: .4rem;
  height: .9rem;
  line-height: .9rem;
  text-align: center;
  cursor: pointer;
}
#main-content nav .unpay {
  margin: 0 .1rem 0 .5rem;
}
#main-content nav .check {
  border-bottom: 0.08rem solid #00d0cb;
}
#main-content .order-list {
  margin: .1rem;
  font-size: 0;
}
#main-content .order-list .item {
  background-color: #fff;
  padding: .15rem;
}
#main-content .order-list .item .wrap img {
  width: 1.8rem;
  vertical-align: top;
}
#main-content .order-list .item .wrap div {
  color: #000;
  display: inline-block;
  width: 60%;
  margin-left: .25rem;
}
#main-content .order-list .item .wrap div h3 {
  font-size: .3rem;
  margin: 0;
}
#main-content .order-list .item .wrap div span {
  font-size: .2rem;
}
