.img {
  height: .7rem;
  width: .7rem;
  margin: 0 .1rem .2rem  0;
}
#main-content nav {
  font-size: 0;
  background-color: #fff;
}
#main-content nav span {
  display: inline-block;
  width: 40%;
  box-sizing: border-box;
  padding: 0 .3rem;
  margin: 0 .5rem 0 .1rem;
  color: #adadad;
  font-size: .4rem;
  height: .9rem;
  line-height: .9rem;
  text-align: center;
  cursor: pointer;
}
#main-content nav .unpay {
  margin: 0 .1rem 0 .5rem;
}
#main-content nav .check {
  border-bottom: 0.08rem solid #00d0cb;
}
#main-content .order-list {
  margin: .1rem;
  font-size: 0;
}
#main-content .order-list .item {
  background-color: #fff;
  padding: .15rem;
  margin-bottom: .2rem;
  text-align: right;
}
#main-content .order-list .item .wrap {
  padding-bottom: .2rem ;
  border-bottom: .02rem solid #ddd;
  text-align: left;
}
#main-content .order-list .item .wrap img {
  width: 1.8rem;
  vertical-align: top;
}
#main-content .order-list .item .wrap div {
  color: #000;
  display: inline-block;
  width: 65%;
  margin-left: .25rem;
}
#main-content .order-list .item .wrap div h3 {
  position: relative;
  font-size: .3rem;
  margin: 0;
}
#main-content .order-list .item .wrap div h3:before {
  content: '';
  position: absolute;
  height: .08rem;
  width: .08rem;
  top: .12rem;
  left: -0.12rem;
  background-color: #ff78b6;
  border-radius: 50%;
}
#main-content .order-list .item .wrap div h3::after {
  content: '';
  background: url(../images/left_arrow.png) no-repeat;
  background-size: 100%;
  position: absolute;
  height: .4rem;
  width: .4rem;
  right: .1rem;
}
#main-content .order-list .item .wrap div p {
  display: table-cell;
  height: 1rem;
  vertical-align: middle;
}
#main-content .order-list .item .wrap div p span {
  font-size: .2rem;
  line-height: .35rem;
  vertical-align: middle;
}
#main-content .order-list .item button {
  width: 2rem;
  font-size: .3rem;
  padding: .2rem;
  background-color: #ff78b6;
  border-radius: .8rem;
  color: #fff;
  border: none;
  margin: .3rem 0 .5rem;
  padding: .1rem;
  margin: .1rem 0 0;
}
#main-content .order-list .item .price {
  color: #ff78b6;
  margin-top: .1rem;
}
#main-content .order-list .item .price img {
  width: .35rem;
  height: .35rem;
  margin-right: .1rem;
}
#main-content .order-list .item .price span {
  font-size: .3rem;
  vertical-align: middle;
}
