@import url(vary.less);
#main-content{
	nav{
		font-size: 0;
		background-color: #fff;
		span{
			display: inline-block;
			width: 40%;
			box-sizing: border-box;
			padding: 0 .3rem;
			margin: 0 .5rem 0 .1rem;
			color: #adadad;
			font-size: .4rem;
			height: .9rem;
			line-height: .9rem;
			text-align: center;
			cursor: pointer;
		}
		.unpay{
			margin: 0 .1rem 0 .5rem;
		}
		.check{border-bottom: .08rem solid @bg-color;}
	}
	.order-list{
		margin: .1rem;
		font-size: 0;
		.item{
			background-color: #fff;
			padding: .15rem;
			.wrap{
				img{
					width: 1.8rem;
					vertical-align: top;
				}
				div{
					color: #000;
					display: inline-block;
					width: 60%;
					margin-left: .25rem;
					h3{	
						font-size: .3rem;
						margin: 0;
					}
					span{
						font-size: .2rem;
					}
				}
			}
		}
	}
}