.bt-left {
  content: '';
  position: absolute;
  top: -0.1rem;
  left: 1rem;
  width: .6rem;
  height: .2rem;
  border-radius: .1rem;
  background-color: #00d0cb;
}
.bt-right {
  content: '';
  position: absolute;
  top: -0.1rem;
  right: 1rem;
  width: .6rem;
  height: .2rem;
  border-radius: .1rem;
  background-color: #00d0cb;
}
#main-content .time {
  border-bottom: 1px solid #ededed;
  text-align: left;
  color: #000;
}
#main-content .time .left,
#main-content .time .right {
  font-size: .3rem;
  display: inline-block;
  box-sizing: border-box;
  padding: .2rem .1rem;
  width: 45%;
}
#main-content .time .left img,
#main-content .time .right img {
  width: .4rem;
  height: .4rem;
}
#main-content .time .left span,
#main-content .time .right span {
  padding: 0 .1rem;
}
#main-content .time .left .change,
#main-content .time .right .change {
  display: inline-block;
  font-size: .3rem;
  padding-left: .1rem;
  color: #d699e9;
  border-left: 1px solid #000;
  height: .3rem;
}
#main-content .time .right {
  width: 55%;
}
